<sm-sidebar class="left vertical inverted sidebar labeled icon menu" #sidebar>        
  <a class="item" (click)="sidebar.hide()">
    <i class="remove icon"></i>Close
  </a>
  <a class="item" [routerLink]="['/polls']" [queryParams]="{ sort: 'popular'}">
    <i class="home icon"></i>Popular
  </a>
  <a class="item" [routerLink]="['/polls']" [queryParams]="{ sort: 'random'}">
    <i class="home icon"></i>Random
  </a>
  <a class="item" [routerLink]="['/polls']" [queryParams]="{ sort: 'latest'}">
    <i class="block layout icon"></i>Latest
  </a>
  <a class="item" *ngIf="!loggedIn()" routerLink="/login">
    <i class="smile icon"></i>Login
  </a>
  <a class="item" *ngIf="loggedIn()" routerLink="/polls/new">
    <i class="smile icon"></i>New Poll
  </a>
  <a class="item" *ngIf="loggedIn()" [routerLink]="['/polls']" [queryParams]="{ userId: currentUser.id }">
    <i class="smile icon"></i>My Polls
  </a>
</sm-sidebar>
<div class="pusher"> 
  <sm-menu class="huge borderless menu">
    <a sm-item icon="sidebar big" (click)="sidebar.show({transition: 'overlay'})"></a>
    <a sm-item routerLink="/">
      <h1 class="voto-logo ui left aligned huge header">Voto</h1>
    </a>
    <div *ngIf="loggedIn()" class="right menu">
      <a class="ui item">
        {{ currentUser.username }}
      </a>
      <a class="ui item" (click)="logout()">
        Logout
      </a>
    </div>
  </sm-menu>
  <div class="ui container">
    <flash></flash>
    <router-outlet></router-outlet>
  </div>
</div>



  





