<sm-menu class="huge borderless">
  <a sm-item icon="sidebar big" (click)="invertedSidebar.show({transition: 'overlay'})"></a>
  <a sm-item routerLink="/">
    <h1>Voto</h1>
  </a>
</sm-menu>
<sm-sidebar class="left vertical inverted sidebar labeled icon menu" #invertedSidebar>        
  <a class="item" (click)="invertedSidebar.hide()">
    <i class="remove icon"></i>Close
  </a>
  <a class="item">
    <i class="home icon"></i>Popular
  </a>
  <a class="item">
    <i class="block layout icon"></i>Latest
  </a>
  <a class="item">
    <i class="smile icon"></i>My Polls
  </a>
  <a class="item" href="/login">
    <i class="smile icon"></i>Login
  </a>
</sm-sidebar>
<div class="pusher">
  <router-outlet></router-outlet>
</div>

  





