<div class="ui list">
  <div class="ui item two column grid" *ngFor="let option of options">
    <div class="row ui segment">
      <div class="column">
        <div class="header">{{option.title}}</div>
        {{ option.voteCount || 0 }} voted for this
      </div>
      <div class="column button-column">
        <button class="ui button positive" (click)="voteOnOption(option.id)">
          <i class="pie chart icon"></i>
          Vote
        </button>
      </div>
    </div>
    
  </div>
  <div class="ui item two column grid">
    <div class="row ui segment">
      <div class="column">
        <div class="header">New Option</div>
        <input class="ui input" #newOption placeholder="Enter your option" />
      </div>
      <div class="column button-column">
        <button class="ui button olive" (click)="addOption(newOption.value); newOption.value = '';">
          <i class="add circle icon"></i>
          Add   
        </button>
      </div>
    </div>
  </div>
</div>