.poll-option-list {
  margin-top: 1rem;
}

.delete-poll-item {
  padding-top: calc(.21428571em * 2) !important;
  margin-bottom: 1rem;
}

.row > .column.button-column {
  display: flex;
  justify-content: center;
  &>.ui.button {
    width: 100%;
  }  
}

.poll-option-chart {
  display: flex;
  justify-content: center;
}