<div *ngIf="poll">
  <h1 class="ui center aligned header voto-page-header">{{poll.title}}</h1>
  <div class="ui stackable two column grid">
    <div class="column">
      <poll-option-chart [options]="options"> chart here </poll-option-chart>
    </div>
    <div class="column poll-option-list">
      <poll-option-list *ngIf="options" [options]="options" [pollId]="poll.id" [loggedIn]="loggedIn()" (pollChange)="populate();"></poll-option-list>
      <div *ngIf="userOwnsPoll()" class="ui list">
        <div class="ui item two column grid delete-poll-item">
          <div class="row ui segment">
            <div class="column">
              <div class="header">Delete this poll</div>
              Can´t be undone
            </div>
            <div class="column button-column">
              <button class="ui button negative">
                <i class="remove icon"></i>
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
