.ui.grid > .poll-list-item.column {
  display: flex;
  justify-content: center;
}

.ui.card {
  width: 100%;
  padding-top: 1rem;
}

div.ui.menu.poll-list-pagination {
  margin-top: 2rem;
  width: 100%;
  justify-content: space-between;
  @media(max-width: 960px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .item {
    flex:1;
  }

}
